/* App.css */
.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.MainButtons {
  display: flex;
  justify-content: center;
  background-color: #54849d1d;
}

.btn {
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  margin: 50px;
}

.btn_home,
.btn_main,
.btn_contact {
  background-color: #5048ec08;
  border-color: #54839d;
  border: solid;
  color: #54839d;
}

.btn_home:hover,
.btn_main:hover,
.btn_contact:hover {
  background-color: #54839d;
  border-color: #54839d;
  border: solid;
  color: #ffffff;
}
