body {
  background-color: #ffffff;
  margin: 0;
}

.container {
  margin: 0.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1.5rem;
}

.form-set {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.form-set > label {
  color: #54839d;
  font-size: 2rem;
  margin: 0.5rem;
}

.flashcard-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.flashcard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 15px;
  background-color: #4f48ec;
  color: #ffffff;
  border-radius: 20%;
  height: 250px;
  transform-style: preserve-3d;
  transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  cursor: pointer;
  transition: opacity 0.3s;
  font-size: 20px;
  padding: 20px 40px;
}

.flashcard:hover {
  --translate-y: -2px;
}

.flashcard.flip {
  --rotate-y: 180deg;
}

.flashcard-answers {
  transform: rotateY(180deg);
}

.flashcard .flashcard-questions,
.flashcard .flashcard-answers {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.add-flashcard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.edit-delete-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0; /* Start with opacity 0, and it will be changed on hover */
  pointer-events: none; /* Disable interaction when not hovered */
}

.flashcard.hovered .edit-delete-buttons {
  opacity: 1;
  pointer-events: auto; /* Allow interaction with buttons */
}
